.bullet-list {
  position:absolute;
  display:flex;
  gap: 20px;
  justify-content: flex-end;
  right: 121px;
  bottom: 95px;
  @include vp-1439 {
    bottom:39px;
    right: 50%;
    transform: translate(calc(-50% + 70px  ));
  }
  @include vp-767 {
    bottom: 38px; 
    transform: translate(calc(-50% + 65px));
  }
}

.bullet-list__btn{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background-color: transparent;
  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.bullet-list__btn--active{
  background-color: $color-default-white;
}