.header {
}
.header__container {
  display:flex;
  background-color: $color-base-blue;
  padding: 30px 20px 27px;
  align-items: center;
  position:relative;
  z-index: 1;
}

.header__logo {
  margin-right: auto;
}

.header__logo-svg {
}

.header__nav {
}

.header__tel {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  margin-left: auto;
  color:$color-default-white;

  &:hover,
  &:focus {
    color: $color-dark-blue;
    outline:none;
  } 

  &:active {
    color: $color-white-50;
  }

}