.slider-1{
  position: relative;

}
.slider-1{
  top:0;
  left:0;

  position: absolute;
  background:url(../img/hero/hero-desktop-slider-1.jpg) no-repeat center center;
}

.slider-2{
  background:url(../img/hero/hero-desktop-slider-2.jpg) no-repeat center center;
} 